{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photography Portfolio</title>
  <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
  <script defer src="{% static 'core/js/main.js' %}"></script>
</head>
<body>
  {% include "core/includes/navbar.html" %}
  {% block content %}{% endblock %}
  {% include "core/includes/footer.html" %}
  {% include "core/includes/scripts.html" %}

  <link href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
  <script>
    const lightbox = GLightbox({ touchNavigation: true, loop: true });
  </script>

</body>
</html>
